

.blogs{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


>.blog{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 219, 212);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.23);
    margin: 20px 5px ;

    >h1{text-align: center;

    }
    >img{
        width: 600px;
        border-radius: 5px;

    }
    >p{

    }


}

}





