.live-class-container {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-gap: 20px;
    min-height: 90vh; 
    padding: 10px;
    background-color: #f4f4f9; 
  }
  
  .video-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  .video-screen {
    height: 80%; 
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .live-comments {
    height: 20%; 
    overflow-y: auto;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .live-comments ul {
    list-style: none;
    padding: 0;
  }
  
  .live-comments li {
    margin-bottom: 10px;
  }
  
  .chat-section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 80vh;
    // height: 80vh;
    // right: 0;
    // width: 420px;
    // position: fixed;
  
  }

  