@import "./global.scss";

.home {
  min-height: 700px;

  > .hero {
    background-color: $black;
    background-image: url(../assets/hero.svg);
    background-size: cover;
    min-height: 700px;
    display: flex;

    > .hero-left {
      color: $white;
      padding-top: 100px;
      padding-left: 4%;
      padding-right: 3%;

      h1{
        font-size: calc(1rem + 3vw) ;
        margin: 20px 0;
        font-weight: 700;
      
        
      }

      h2 {
        color: $orange;
        font-size: calc(1rem + 3vw) ;
        margin: 20px 0;
        font-weight: 700;
      }

      h3{
        font-size: calc(1rem + 3vw) ;
        margin: 20px 0;
        font-weight: 700;
        height: calc(1.6rem + 3vw) ;
        
      }

      p {
        padding-top: 20px;
        font-size: 16px;
        width: 600px;
        letter-spacing: 1px;
        line-height: 1.5;
        color: rgba(209, 195, 195, 0.932);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    > .hero {
  
      > .hero-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        width: 600px;
        margin:  100px auto;

        h1,
        h2,h3 {
          font-size: calc(1rem + 4vw);
          margin: 10px 0;
          text-align: center;
        }

        h3{
          line-height: 1.4em;
        }
    
        p {
          padding-top: 50px;
          text-align: center;
          width: 100%;
          
        }
      }
    }
  }
}



@media screen and (max-width: 420px) {
  .home {
    > .hero {
      > .hero-left {
        width: 400px;
    
        h1,
        h2 ,h3{
          font-size: calc(0.75rem + 4vw) ;
         
        }
  

      
      }
    }
  }
}
