
@import "./global.scss";

.home {
  min-height: 700px;


  > .hero {
    background-color: $black;
    background-image: url(../assets/hero.svg);
    background-size: cover;
    min-height: 700px;
    display: flex;

    >.hero-left{
        color: $white;
        padding-top: 200px ;
        padding-left: 50px;
        
        h1 ,h2 {
          
            font-size: 72px;
            margin: 0;
            margin: 20px 0;
            font-weight: 700;
        }

        h2{
           color: $orange;
        }

        p{
          width: 500px;
        }

    }
  }
}
