@import "./global.scss";

  .navbar {
    background-image:url(../assets/hero.svg);
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    color: $white;
    height: 80px;
    padding-top: 10px ;

    >.menu{  
      display: none;
    }

    > img {
    
      width: 13%;
      padding-top: 5px;
     
    }

    > .ul {
      display: flex;
      padding: 0;
      > li {
        list-style-type: none;
        > a {
          color: $white;
          margin-right: 60px;
          text-decoration: none;
          letter-spacing: 1px;
          transition: all 0.3s ease-in;
          font-size: large;
          &:hover{
            color: $orange;
            font-size: larger;
          }
        }
      }
    }

    >.user{
      display: flex;
      padding-left: 15%;
      margin-right: 10px;

      >p{
        margin: 0;
        margin-left: 10px;
        padding-top: 15px;
        font-family: cursive;
        font-size: 16px;
        font-style: italic;
      }
      >span{
        font-size: 32px;
        width: 45px;
        height: 45px;
        border: 1px solid wheat;
        border-radius: 40px ;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      >div{
        padding-top: 15px;
        font-size: 25px;
        margin-left: 10px;
      }

    }

    >.link-btn {
      display: flex;
      
      > a {
        background-color: $orange;
        padding: 10px 25px;
        border-radius: 25px;
        text-decoration: none;
        color: $white;
        margin-right: 10px;
        display: flex;
        transition: all 0.1s ease-in;
        &:hover{
          opacity: 0.7;
        }
        &:active{
          background-color:$orange-shade ;
        }
      }

      >.login-link{
        color: $white;
        background-color: $grey;
        margin-right: 30px;
      }
    }

    >.triple-dot{
      padding-top: 10px;
      font-size: 24px; 
    }
  }


.display-none {
  display: none;
}

@media only screen and (max-width : 1400px) {

  .navbar {
    justify-content: space-between;
    > img {
     margin-left: 45px;
      width: 15%;
      padding-top: 5px;
     
    }
  
    >.ul {
      >li {
        a {
          margin-right: 30px;
        }
      }
    }
    
    >.user {
      display: none;
    }

    >.triple-dot{
      padding-right: 15px;
     }
  }
}

@media only screen and (max-width : 1100px) {

  .navbar {
  
    > img {
      
      width: 20%;
      padding-top: 5px;
     
    }

  }
}

@media screen and (max-width : 768px) {

  .navbar{

    >.menu{
      display: block;
      padding-top: 10px;
      font-size: 32px;
      position: relative;
      margin-left: 30px;

      >.drop-down{
        position: fixed;
        background-color: rgb(240, 248, 255);
        border-radius: 3px;
        height: 100%;
        left: 0;
        top: 0;
        width: 215px;
        z-index: 1;
        
        >.close-btn{
          padding-left: 165px;
          padding-top: 12px;
          color: black;
        }
      
        >ul{
          margin-left: 10px;
          padding-top: 50px;
        
          >li{
            list-style-type: none;
            margin-bottom: 30px;
            >a{
                color: rgba(0, 0, 0, 0.705);
                text-decoration: none; 
                font-size: 16px;  
            }
          }
        }
      }
    }

    > img {
      margin: 0;
      width: 28%;
      padding-top: 5px;
     
    }
  

    >.ul{
      display: none;
    }

    
  }
  
}

@media screen and (max-width : 630px) {

  .navbar{

    > img {
    
      width: 37%;
      padding-top: 5px;
     
    }
  

  }
  
}






