
$main-Color : #F08829;



  .navbar {
    background-image:url(../assets/hero.svg);
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    height: 15vh;
    > img {
      margin-left: 20px;
      width: 350px;
     
    }
    > ul {
      display: flex;
      > li {
        list-style-type: none;
        > a {
          color: aliceblue;
          margin-right: 60px;
          text-decoration: none;
          letter-spacing: 1px;
          transition: all 0.3s ease-in;
          font-size: large;
          &:hover{
            color: $main-Color;
            font-size: larger;
          }
        }
      }
    }

    >.link-btn {
      display: flex;
      padding-bottom: 40px;
      > a {
        background-color: $main-Color ;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        color: aliceblue;
        margin-right: 10px;
        font-size: 20px;
      }

      >.login-link{
        color: wheat;
        background-color: grey;
        margin-right: 30px;
      }
    }
  }

