.navbar {
  background-color: black;
  color: antiquewhite;
  display: flex;
  > ul {
    display: flex;
    list-style-type: none;
    > li {
      display: flex;
      margin-left: 20px;

      > a {
        text-decoration: none;
        color: aliceblue;
      }
    }
  }
}
