
.blogs{
    width: 60%;
    margin: auto;
}


.ck-content h1, .ck-content h2, .ck-content h3, .ck-content h4, .ck-content h5, .ck-content h6 {
    font-weight: bold;
    margin: 1.5em 0 0.5em;
  }
  
  .ck-content p {
    margin: 1em 0;
  }
  
  .ck-content blockquote {
    margin: 1em 0;
    padding-left: 1.5em;
    border-left: 5px solid #ccc;
    color: #666;
  }
  
  .ck-content ul, .ck-content ol {
    margin: 1em 0;
    padding-left: 2em;
  }
  
  .ck-content ul li, .ck-content ol li {
    margin-bottom: 0.5em;
  }
  
  .ck-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1em 0;
  }
  
  .ck-content figure {
    margin: 1em 0;
  }
  
  .ck-content figure img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .ck-content table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
  }
  
  .ck-content table th, .ck-content table td {
    padding: 0.5em;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .ck-content .image-style-align-left {
    float: left;
    margin-right: 1em;
  }
  
  .ck-content .image-style-align-right {
    float: right;
    margin-left: 1em;
  }
  
  .ck-content .image-style-align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  