.blogs{



>h1{
    text-align: center;
}

>.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 80%;
    margin: auto;
    min-height: 40vh;
    margin-bottom: 60px;

>h2{
    

}

>img{
    display: block;
    width: 80%;
    margin: auto;

}
>p{

}


}


}