@import url('./global.scss');

.create-blog{
  
    width: 60%;
    margin: auto;


>form{
   
    >input {
        width: 500px;
        margin-bottom: 20px;
        padding: 5px 20px;
        font-size: 22px;

    }

}


>button{
    background-color: orange;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    color: rgb(253, 253, 253);
    font-size: 20px;


}




}