.secure-index {
  min-height: 90vh;

  > h1,
  h2,
  p {
    text-align: center;
  }
}

.admin-panel {
    
    width: 80%;
    margin: auto;
  > h1 {
    text-align: center;
  }


  table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
    font-size: 16px;
    text-align: left; 
  }

 
  table,
  th,
  td {
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2; 
    color: #333; 
    padding: 12px 15px; 
    text-transform: uppercase; 
    font-weight: bold;
  }


  td {
    padding: 12px 15px; 
  }

 
  tr:nth-child(even) {
    background-color: #f9f9f9; 
  }


  tr:hover {
    background-color: #f1f1f1; 
  }


  @media (max-width: 768px) {
    table {
      width: 100%;
      display: block; 
      overflow-x: auto; 
    }
  }
}
