

.why-algo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #130420;
  transform: translateY(-60px);
  border-radius: 50px;
  color: aliceblue;

  //   > img {
  //     margin: 50px 0;
  //     width: 600px;
  //   }

  > h1 {
    color: orange;
    margin: 50px 0;
    font-size: calc(2rem + 1vw) ;
  }

  > p {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
    // font-size: 21px;
    letter-spacing: 1px;
  }
 > .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    color: aliceblue;
    padding-bottom: 50px;
  
    > .why-card {
      width: 400px;
      margin-top: 50px;
      
  
      .card-img {
        width: 140px;
        margin: auto;
  
        > img {
          width: 140px;
        }
      }
  
      > h3 {
        font-size: 24px;
        color: orange;
        text-align: center;
        line-height: 1.5;
      }
  
      > p {
        color: aliceblue;
        text-align: center;
        line-height: 1.5;
      }
    }
  }
}




.roadway{

    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
 
   


    >.roadway-left{
        width: 400px;
        display: flex;
        justify-content: center;
     

        >img{
            width: 90%;
            height: 300px;
            border-radius: 50%;
            
          
        }
    }

    >.roadway-right{
        width: 500px;
        >h3{

            line-height: 2;

            >span{
                margin-right: 20px;
            }
        }

    }

}








.index-cards {
  background-color: #160548;

  > h3 {
    padding-top: 50px;
    text-align: center;
    color: white;
  }

  > p {
    color: white;
    width: 60%;
    text-align: center;
    margin: 40px auto;
  }

  .h-cards {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;

    > .card {
      width: 300px;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid black;
      box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.096);
      background-color: aliceblue;
      padding: 5px;
      border-radius: 5px;

      > img {
        width: 300px;
        height: 400px;
        border: 1px solid black;
        border-radius: 5px;
      }
    }
  }
}
