@import "../../styles/global.scss";

.home {
  // min-height: 700px;
  // background-color: #16054836;
  // position: relative;
  

  > .hero {
  
    background-image: url(../../assets/hero.svg);
    z-index: 1;
    background-size: cover;
    min-height: 700px;
    display: flex;
    // position: absolute;
    width: 100%;

    > .hero-left {
      
      color: $white;
      padding-top: 100px;
      padding-left: 4%;
      padding-right: 3%;

      h1{
        font-size: calc(1rem + 3vw) ;
        margin: 20px 0;
        font-weight: 700;
      
        
      }

      h2 {
        color: $orange;
        font-size: calc(1rem + 3vw) ;
        margin: 20px 0;
        font-weight: 700;
      }

      h3{
        font-size: calc(1rem + 3vw) ;
        margin: 20px 0;
        font-weight: 700;
        height: calc(1.6rem + 3vw) ;
        
      }

      p {
        padding-top: 20px;
        font-size: 18px;
        width: 600px;
        letter-spacing: 2px;
        line-height: 1.5;
        color: rgba(219, 213, 213, 0.932);
      }
      >div{

        >button{
          margin-right: 10px;
          width: 150px;
          font-size: 16px;
          padding: 10px 10px;
          &:hover{
            opacity: 0.5;
          }

        }
        >.btn1{
          background-color: aliceblue;
          color: rgb(255, 94, 0);

        }
        >.btn2{

        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    > .hero {
  
      > .hero-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        width: 600px;
        margin:  100px auto;

        h1,
        h2,h3 {
          font-size: calc(1rem + 4vw);
          margin: 10px 0;
          text-align: center;
        }

        h3{
          line-height: 1.4em;
        }
    
        p {
          padding-top: 50px;
          text-align: center;
          width: 100%;
          
        }
      }
    }
  }
}



@media screen and (max-width: 420px) {
  .home {
    > .hero {
      > .hero-left {
        width: 400px;
    
        h1,
        h2 ,h3{
          font-size: calc(0.75rem + 4vw) ;
         
        }
  

      
      }
    }
  }
}
