@import "../../styles/global.scss";

  .navbar {
    background-image:url(../../assets/hero.svg);
    background-size: cover;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    color: $white;
    // height: 81px;
    padding-top: 10px ;
    padding-bottom: 5px;

    >.menu{  
      display: none;
    }

    > img {
    
      width: 13%;
      padding-top: 5px;
      margin-left: 4%;
     
    }

    > .ul {
      display: flex;
      padding: 0;
      > li {
        list-style-type: none;
        > a {
          color: $white;
          margin-right: 60px;
          text-decoration: none;
          letter-spacing: 1px;
          transition: all 0.3s ease-in;
          font-size: large;
          &:hover{
            color: $orange;
            font-size: larger;
          }
        }
      }
    }

    >.user{
      display: flex;
      margin-right: 5%;
      position: relative;
   

      >p{
        margin: 0;
        margin-left: 10px;
        padding-top: 15px;
        font-family: cursive;
        font-size: 16px;
        font-style: italic;
      }
      >span{
        font-size: 32px;
        width: 45px;
        height: 45px;
        border: 1px solid wheat;
        border-radius: 40px ;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      >div{
        padding-top: 15px;
        font-size: 25px;
        margin-left: 10px;
      }

    
      >.dropdown{
        position: absolute;
        width: 125px;
        margin: 0;
        background-color: rgb(53, 52, 52);
        top: 50px;
        left: 220px;
        border-radius: 5px;
        >ul{
          padding: 0;
          margin: 5px 0;
          >li{
            list-style-type:none ;
           font-size: 14px;
           padding: 5px 20px;
           &:hover{
            background-color: orange;
            cursor: pointer;
           }
          
          }
        }
      }

    }

    >.logout-message{
      width: 361px;
      >a{
        text-decoration: none;
        background-color: orange;
        color: white;
        padding: 10px 30px;
        border-radius: 20px;
        cursor: pointer;
        margin-left: 150px;
      }
      >p{
        margin: 0;
        margin-left: 10px;
        padding-top: 15px;
        font-family: cursive;
        font-size: 16px;
        font-style: italic;
      }
    }

    >.logout-message2{
      display: none;
    }

    >.triple-dot{
      display: none;
      
    }
  }


.display-none {
  display: none;
}

@media only screen and (max-width : 1400px) {

  .navbar {
    justify-content: space-between;
    > img {
     margin-left: 45px;
      width: 15%;
      padding-top: 5px;
    }
  
    >.ul {
      >li {
        a {
          margin-right: 30px;
        }
      }
    }
    
    >.user {
      display: none;
    }

    >.logout-message{
      display: none;
    }

    >.logout-message2{
      display: block;
   
      >a{
        text-decoration: none;
        background-color: orange;
        color: white;
        padding: 10px 30px;
        border-radius: 20px;
        cursor: pointer;
        margin-right: 10px;
      }
      >p{
        margin: 0;
        margin-left: 10px;
        padding-top: 15px;
        font-family: cursive;
        font-size: 10px;
        font-style: italic;
        margin-right: 10px;
      }
    }

    >.triple-dot{
      display: block;
      padding-top: 10px;
      font-size: 24px; 
      padding-right: 30px;
      position: relative;
      

      >.dropdown{
        background-color: rgb(53, 52, 52);
        color: white;
        position: absolute;
        top: 60px;
        right: 10px;
        border-radius: 5px;
        >ul{
          padding: 0;
          margin: 5px 0;
          >li{
            display: flex;
            >img{
              width: 40px;
              height: 40px;
              border-radius: 100%;
            }
            >span{
              padding-top: 10px;
              padding-left: 5px;

            }
           list-style-type:none ;
           font-size: 14px;
           padding: 5px 20px;
           &:hover{
            background-color: orange;
            cursor: pointer;
           }
          
          }
        }

       

      }

    }
  }
}

@media only screen and (max-width : 1100px) {

  .navbar {
  
    > img {
      
      width: 20%;
      padding-top: 5px;
     
    }

  }
}

@media screen and (max-width : 768px) {

  .navbar{

    >.menu{
      display: block;
      padding-top: 10px;
      font-size: 32px;
      position: relative;
      margin-left: 30px;

      >.drop-down{
        position: fixed;
        background-color: rgb(240, 248, 255);
        border-radius: 3px;
        height: 100%;
        left: 0;
        top: 0;
        width: 215px;
        z-index: 1;
        
        >.close-btn{
          padding-left: 165px;
          padding-top: 12px;
          color: black;
        }
      
        >ul{
          margin-left: 10px;
          padding-top: 50px;
        
          >li{
            list-style-type: none;
            margin-bottom: 30px;
            >a{
                color: rgba(0, 0, 0, 0.705);
                text-decoration: none; 
                font-size: 16px;  
            }
          }
        }
      }
    }

    > img {
      margin: 0;
      width: 28%;
      padding-top: 5px;
     
    }
  

    >.ul{
      display: none;
    }    
  }
  
}

@media screen and (max-width : 630px) {

  .navbar{

    > img {
    
      width: 37%;
      padding-top: 5px;
     
    }

    >.logout-message2{
      
   
      >a{
     
        padding: 10px 15px;
        
      }
    }

  }
  
}






